/*Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&display=swap');


/*Reset browser's parameters*/
*{
    margin: 0;
    padding: 0;
}

/*Assigning features to headings*/

h1, h2, h3{
    font-family: "Indie Flower", sans-serif;
}

h1{
    font-size: 65px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
}

/*Styles for the header*/
header{
    background-color: #EEEEEE;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

/*Style for header's sound items*/
#sound{
    margin-top: 25px;
}

.snd-btn{
    font-size: 25px;
    padding: 4px;
    margin: auto 10px;
   
}

.snd-btn:hover{
    cursor: pointer;
}

#music_btn{
    margin-left: 100px;
}

/*Style for choices' main section*/
#main_choices_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: 100px auto 0 auto;
}

.choice_container{
    width: 50%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Styles for the player's symbol choices*/
.choices{
    width: 50%;
    height: 100px;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon_box{
    width: 70px;
    height: 70px;
}

.icon_box i {
    font-size: 70px;
}

i span{
    display: none;
}

.color_box{
    width: 70px;
    height: 70px;
}



/*Styles for the player's color choices*/
#color_box1{
    background-color: #4284f5;
}

.blue_color{
    color: #4284f5;
    font-size: 35px;
}

#color_box2{
    background-color: #f54242;
}

.red_color{
    color: #f54242;
    font-size: 35px;
}

#color_box3{
    background-color: #005714;
}

.green_color{
    color: #005714;
    font-size: 35px;
}

#color_box4{
    background-color: #644502;
}

.yellow_color{
    color: #644502;
    font-size: 35px;
}


.choices div:hover{
    cursor: pointer;
    display: inline;
}

#player_notification{
    margin-top: 30px;
    color: red;
}


/*Styles for the underline of the choices using hr*/
.color_line{
    background-color: black;
    height: 4px;
    margin-top: 85px;
}

.icon_line{
    background-color: black;
    height: 4px;
    margin-top: 12px;
}

.picked{
    border: 4px solid black;
    box-sizing: border-box;
}

/*Style for start button*/
#str_btn{
    margin-top: 30px;
    width: 10%;
    padding-top: 5px;
    border: 4px solid black;
}

#str_btn:hover{
    cursor: pointer;
}

h2 i{
    font-size: 25px;
    padding-top: 5px;
}

/*Styles for the main game*/
#main_game_container{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 50px auto 0 auto;
    height: 1020px;
}

/*Styles for score board*/
#score_area{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-bottom: 50px;
}

#score_board{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;    
}

#score_holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#score_holder div{
    margin-left: 25px;
    margin-right: 25px;
}

#score_board i{
    margin-bottom: 5px;
    font-size: 50px;
}


#game_grid{
    width: 50%; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}

/*Styles for the boxes of the grid*/
.player_box{
    width: 30%;
    height: 200px;
    box-sizing: border-box;
}

.player_box:hover{
    cursor: pointer;
}

#box0{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#box1{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#box2{
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#box3{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#box4{
    border: 2px solid black;
}

#box5{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
#box6{
    border-top: 2px solid black;
    border-right: 2px solid black;
}
#box7{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
#box8{
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.grid_icon{
    margin-top: 45px;
    font-size: 120px;
}

.check_holder{
    display: none;
}

/*Styles for the win/loose status*/
#win_status{
    display: none;
    width: 80%;
    font-size: 78px;
    color: green;
}

/*Styles for the restart and reset buttons*/
#res_btns{
    width: 40%;
    height: 150px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#rst_btn{
    border: 4px solid black;
    padding: 8px;
    background-color: #EEEEEE;
}


#rst_btn:hover{
    cursor: pointer;
}

/*Responsive - media queries*/
@media screen and (max-width: 1440px){

    .choices{
        width: 80%;
        height: 75px;
        margin-top: 6%;
    }

    .choice_container h2{
        margin-top: 6%;
    }
    .icon_box{
        margin-right: 25px;
    }

    .icon_box i{
        font-size: 60px;
    }

    #str_btn{
        width: 20%;
    }

    #game_grid{
        width: 80%;
    }
}

@media screen and (max-width: 1024px){
    .choice_container{
        width: 70%;
    }
    .color_box{
        margin-left: 5px;
        margin-right: 5px;
    }

    #main_game_container{
        width: 85%;
        height: 850px;
        margin: 50px auto 0 auto;
    }

    #game_grid{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .grid_icon{
        font-size: 100px;
    }

    #res_btns{
        width: 70%;
    }
}

/*Styling for tablets*/
@media screen and (max-width: 768px){
    header{
        height: 125px;
    }

    #sound{
        margin-top: 5px;
    }

    #main_choices_container
    {
        margin: 75px auto 0 auto;
    }

    .choice_container{
        width: 80%;
    }
    
    .choices{
        width: 85%;
    }

    #str_btn{
        width: 30%;
    }

    #main_game_container{
        width: 85%;
        height: 850px;
        margin: 35px auto 0 auto;
    }

    #score_area{
        height: 150px;
    }

    #game_grid{
        margin-top: 25px;
        margin-bottom: 25px;

    }

    #score_board{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #score_board h2{
        font-size: 30px;
    }

    .grid_icon{
        font-size: 85px;
    }

    .player_box{
        height: 180px;
    }

    #res_btns{
        height: 110px;
    }

    #win_status{
        display: none;
        font-size: 52px;
    }
}

/*Styling for iphone*/
@media screen and (max-width: 414px){
    header{
        height: 80px;
    }

    h1{
        font-size: 35px;
    }
    
    h2{
        font-size: 25px;
    }
    
    h3{
        font-size: 20px;
    }

    .snd-btn{
        font-size: 20px;
    }

    #main_choices_container{
        width: 90%;
        margin: 30px auto 0 auto;
    }

    .choices{
        width: auto;
        height: 80px;
    }
    
    .icon_box{
        width: 50px;
        height: 50px;
    }
    
    .icon_box i {
        font-size: 30px;
    }

    .color_box{
        width: 50px;
        height: 50px;
    }

    .color_line{
        margin-top: 65px;
    }

    #main_game_container{
        width: 90%;
        height: 600px;
        margin: 0 auto;
    }

    #score_area{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-bottom: 10px;
    }

    #score_board h2{
        font-size: 25px;
    }

    #score_board i{
        font-size: 25px;
    }

    #game_grid{
        width: 90%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .player_box{
        height: 120px;
    }

    .grid_icon{
        font-size: 50px;
    }

    #win_status{
        display: none;
        font-size: 35px;
    }

}

@media screen and (max-width: 375px){
    #main_game_container{
        height: 600px;
        margin: 0 auto;
    }

    #res_btns{
        height: 0;
        margin-top: 15px;
    }
}

@media screen and (max-width: 320px){
    body{
        height: 100%;
    }

    #main_choices_container {
        margin: 10px auto 0 auto;
    }

    .icon_box{
        margin-right: 7.5px;
        margin-left: 7.5px;
    }

    #main_game_container{
        height: 550px;
        margin: 0 auto;
    }
    #score_area{
        height: 80px;
    }

    .player_box{
        height: 90px;
    }

    #game_grid{
        padding-bottom: 5px;
    }

    #res_btns{
        height: 80px;
        margin-top: 5px;
    }

    #rst_btn{
        width: 80%;
    }

    #rst_btn h2{
        font-size: 20px;
    }

    #win_status{
        display: none;
        font-size: 28px;
    }
}
