/*Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&display=swap');


/*Reset browser's parameters*/
*{
    margin: 0;
    padding: 0;
}

/*Assigning features to headings*/

h1, h2, h3{
    font-family: "Indie Flower", sans-serif;
}

h1{
    font-size: 65px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
}

/*Styles for the header*/
header{
    background-color: #EEEEEE;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

/*Style for header's items*/
#sound{
    margin-top: 25px;
}

.snd-btn{
    font-size: 25px;
    padding: 4px;
    margin: auto 10px;
   
}

.snd-btn:hover{
    cursor: pointer;
}

#music-btn{
    margin-left: 100px;
}

/*Style for choices' main section*/
#main_choices_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: 100px auto 0 auto;
}

.choice_container{
    background-color: cyan;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choices{
    width: 50%;
    height: 100px;
    margin-top: 2.5%;
    background-color: coral;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.choice_box{
    width: 70px;
    height: 70px;
    background-color: cornflowerblue;
}

.choice_box i {
    font-size: 70px;
}

/*Style for color choices*/
#color_box1{
    background-color: #4284f5;
}

#color_box2{
    background-color: #f54242;
}

#color_box3{
    background-color: #42f569;
}

#color_box4{
    background-color: #e9f542;
}