/*Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&display=swap');


/*Reset browser's parameters*/
*{
    margin: 0;
    padding: 0;
}

/*Assigning features to headings*/

h1, h2, h3{
    font-family: "Indie Flower", sans-serif;
}

h1{
    font-size: 65px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
}

/*Styles for the header*/
header{
    background-color: #EEEEEE;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

/*Style for header's items*/
#sound{
    margin-top: 25px;
}

.snd-btn{
    font-size: 25px;
    padding: 4px;
    margin: auto 10px;
   
}

.snd-btn:hover{
    cursor: pointer;
}

#music-btn{
    margin-left: 100px;
}

/*Style for choices' main section*/
#main_choices_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: 100px auto 0 auto;
}

.choice_container{
    width: 50%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choices{
    width: 50%;
    height: 100px;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon_box{
    width: 70px;
    height: 70px;
}

.icon_box i {
    font-size: 70px;
}

i span{
    display: none;
}

.color_box{
    width: 70px;
    height: 70px;
}



/*Style for color choices*/
#color_box1{
    background-color: #4284f5;
}

#color_box2{
    background-color: #f54242;
}

#color_box3{
    background-color: #42f569;
}

#color_box4{
    background-color: #e9f542;
}

.level_box{
    line-height: 50px;
    width: 100px;
    height: 50px;
    padding: auto;
}

.choices span:hover{
    cursor: pointer;
    display: inline;
}


/*Styles for the underline of the choices using hr*/
.color_line{
    background-color: black;
    height: 4px;
    margin-top: 85px;
    /*display: none;*/
}

.icon_line{
    background-color: black;
    height: 4px;
    margin-top: 12px;
    /*display: none;*/
}

.level_line{
    background-color: black;
    height: 4px;
    /*display: none;*/ 
}

/*Style for start button*/
#str_btn{
    margin-top: 50px;
    width: 10%;
    padding-top: 5px;
    border: 4px solid black;
}

#str_btn:hover{
    cursor: pointer;
}

h2 i{
    font-size: 25px;
    padding-top: 5px;
}

/*Styles for the main game*/
#main_game_container{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 50px auto 0 auto;
    height: 1020px;
}

#score_area{
    /*background-color: bisque;*/
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

#game_grid{
    width: 50%; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}

.player_box{
    width: 30%;
    height: 200px;
    box-sizing: border-box;
}

.player_box:hover{
    cursor: pointer;
}

#box0{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#box1{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#box2{
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#box3{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#box4{
    border: 2px solid black;
}

#box5{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
#box6{
    border-top: 2px solid black;
    border-right: 2px solid black;
}
#box7{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
#box8{
    border-top: 2px solid black;
    border-left: 2px solid black;
}

/*Styles for the restart and reset buttons*/
#res_btns{
    width: 40%;
    height: 150px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#rst_btn{
    border: 4px solid black;
    padding: 8px;
    background-color: #EEEEEE;
}

#reset_btn{
    border: 4px solid black;
    padding: 8px;
    background-color: #EEEEEE;
}

#rst_btn:hover{
    cursor: pointer;
}

#reset_btn{
    cursor: pointer;
}

/*Responsive - media queries*/

@media screen and (max-width: 1440px){

    .choices{
        width: 80%;
        height: 75px;
        margin-top: 6%;
    }

    .choice_container h2{
        margin-top: 6%;
    }
    .icon_box{
        margin-right: 25px;
    }

    .icon_box i{
        font-size: 60px;
    }

    #str_btn{
        width: 20%;
    }

    #game_grid{
        width: 80%;
    }
}